html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}
.barra-menu{
    background-color: #0d88AD;
}
img{
    max-width: 100%;
}
.navegacion-principal a{
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: center;
}
@media(min-width:768px){
    .navegacion-principal a{
        display: inline-block;
    }
}
.pagina-principal{
    background-color: blue;
    width: 800px;
    float: left;
    padding: 20px;
}
.sidebar{
    background-color: red;
    width: 400px;
    float: right;
}